@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0C0B08;
}

main {
  background-image: url(./img/wave\ element.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: #0C0B08;
  padding-bottom: 113px;
}
.header_top {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
.header_top--content {
  display: flex;
  max-width: 364px;
  width: 100%;
  justify-content: space-between;
}
.header_top--content--log {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 175%;
  letter-spacing: 5%;
  text-transform: capitalize;
  text-decoration: none;
}
.header_top--content--line {
  border: 1px solid;
  border-image-source: radial-gradient(50% 50% at 50% 50%, #FFFFFF 58.85%, rgba(255, 255, 255, 0) 100%);
}
.header_top--title {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}
.header_top--nav {
  max-width: 409px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top--nav--link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 4%;
}
.header_bottom {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.header_bottom--container {
  position: absolute;
  left: 108%;
  top: 96%;
}
.header_bottom--container--btn {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 4%;
  text-transform: uppercase;
  border: none;
  color: #DCCA87;
  background: #000;
}
.header_bottom--content {
  display: flex;
  max-width: 161px;
  width: 100%;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  right: 100%;
  top: 40%;
  position: absolute;
  justify-content: space-between;
}
.header_bottom--content--text {
  color: #fff;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: 4%;
}
.header_bottom--div {
  display: flex;
  position: absolute;
  top: 97%;
  right: 42%;
  gap: 8px;
  align-items: center;
}
.header_bottom--div--text {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 175%;
  letter-spacing: 8px;
  text-transform: capitalize;
}
.header_bottom--div--line {
  border: 0.5px solid #DCCA87;
  width: 16px;
}
.header_bottom--page {
  padding-top: 48px;
  align-items: center;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 64px;
}
.header_bottom--page--content--title {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 90px;
  color: #DCCA87;
  max-width: 453px;
  line-height: 130%;
  letter-spacing: 4%;
  margin-bottom: 32px;
  text-transform: capitalize;
}
.header_bottom--page--content--text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  max-width: 453px;
  margin-bottom: 32px;
  line-height: 175%;
  letter-spacing: 4%;
}
.header_bottom--page--content--btn {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 16px;
  color: #0C0B08;
  padding: 6px 28px;
  line-height: 175%;
  margin-bottom: 191px;
  letter-spacing: 4%;
  background: #DCCA87;
  border: none;
}
.header_bottom--page--content--subtitle {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  line-height: 130%;
  margin-bottom: 8px;
  letter-spacing: 4%;
  text-transform: capitalize;
}

.about {
  padding-top: 35px;
}
.about_content {
  background-image: url(./img/Group1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about_content--page {
  display: flex;
  padding-top: 120px;
  max-width: 1300px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 136px;
}
.about_content--page--left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about_content--page--left--title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 64px;
  color: #DCCA87;
  line-height: 130%;
  letter-spacing: 3%;
  margin-bottom: 8px;
  text-align: right;
  text-transform: capitalize;
}
.about_content--page--left--text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  max-width: 523px;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: right;
  max-width: 523px;
  margin: 32px 0;
}
.about_content--page--left--img {
  rotate: 180deg;
}
.about_content--page--left--btn {
  border: none;
  background: #DCCA87;
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 30px;
  line-height: 175%;
  letter-spacing: 4%;
}
.about_content--page--right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_content--page--right--title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 64px;
  color: #DCCA87;
  line-height: 130%;
  letter-spacing: 3%;
  margin-bottom: 8px;
  text-align: right;
  text-transform: capitalize;
}
.about_content--page--right--text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  max-width: 523px;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: right;
  margin: 32px 0;
  max-width: 523px;
}

.book {
  padding-top: 157px;
  padding-bottom: 152px;
  position: relative;
}
.book_img {
  position: absolute;
  right: 14%;
  bottom: 83%;
}
.book_page {
  max-width: 1367px;
  margin: 0 auto;
  width: 100%;
  background: #0C0C0C;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(220, 202, 135, 0.2);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.6980392157);
}
.book_page--form {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.book_page--form--label {
  border: 1px solid #F5EFDB;
}
.book_page--form--label--select {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 16px;
  color: #AAAAAA;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: capitalize;
  background-color: black;
  border: none;
  padding: 16px 0;
  padding-left: 16px;
  margin-right: 12px;
  padding-right: 284px;
}
.book_page--title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 64px;
  color: #DCCA87;
  line-height: 130%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 64px;
  margin-top: 8px;
}
.book_page--subtitle {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  line-height: 130%;
  letter-spacing: 4%;
  text-transform: capitalize;
  padding-top: 48px;
  padding-bottom: 8px;
}
.book_page--btn {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 16px;
  background: #DCCA87;
  border: 1px solid #DCCA87;
  padding: 7px 30px;
  line-height: 175%;
  margin-bottom: 48px;
  letter-spacing: 4%;
}

.menu {
  background-image: url(./img/menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.menu_img {
  position: absolute;
  right: 88%;
}
.menu_page {
  padding-top: 293px;
  padding-bottom: 262px;
  max-width: 1680px;
  row-gap: 64px;
  display: grid;
  margin: 0 auto;
}
.menu_page--title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 64px;
  color: #fff;
  line-height: 130%;
  letter-spacing: 3%;
  text-transform: capitalize;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}
.menu_page--title:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.special {
  padding-top: 152px;
  display: flex;
  padding-bottom: 152px;
  flex-direction: column;
  max-width: 1300px;
  align-items: center;
  margin: 0 auto;
}
.special_btn {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 32px;
  background: #DCCA87;
  line-height: 175%;
  letter-spacing: 4%;
}
.special_subtitle {
  font-family: Cormorant Upright;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 23px;
  color: #fff;
  line-height: 130%;
  letter-spacing: 4%;
  text-transform: capitalize;
}
.special_title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 64px;
  color: #DCCA87;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 8px;
  padding-bottom: 64px;
}
.special_page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  width: 100%;
}
.special_page--content {
  gap: 40px;
  display: grid;
}
.special_page--content--div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 412px;
  width: 100%;
  justify-content: space-between;
}
.special_page--content--div--container {
  display: flex;
  padding-bottom: 8px;
  align-items: center;
}
.special_page--content--div--container--line {
  height: 1px;
  width: 119px;
  background-color: #fff;
}
.special_page--content--div--container--title {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 23px;
  color: #DCCA87;
  line-height: 130%;
  letter-spacing: 4%;
  text-transform: capitalize;
  margin-right: 32px;
  width: 192px;
  padding-bottom: 8px;
}
.special_page--content--div--container--text {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: center;
  margin-left: 32px;
  text-transform: capitalize;
}
.special_page--content--div--text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  line-height: 175%;
  letter-spacing: 4%;
  text-align: center;
}
.special_page--content--title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

.chef {
  background-image: url(./img/chef-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.chef_page {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 128px 0;
}
.chef_page--content--subtitle {
  font-family: Cormorant Upright;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  line-height: 130%;
  letter-spacing: 4%;
  text-transform: capitalize;
}
.chef_page--content--title {
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 64px;
  color: #DCCA87;
  line-height: 130%;
  letter-spacing: 3%;
  text-transform: capitalize;
}
.chef_page--content--text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  line-height: 175%;
  max-width: 570px;
  margin-top: 64px;
  margin-bottom: 64px;
  letter-spacing: 4%;
}
.chef_page--content--name {
  font-family: Cormorant Upright;
  font-weight: 400;
  font-size: 32px;
  color: #DCCA87;
  line-height: 130%;
  color: #DCCA87;
  margin-bottom: 8px;
  letter-spacing: 4%;
  text-transform: capitalize;
}
.chef_page--content--profesion {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  margin-bottom: 64px;
  line-height: 175%;
  letter-spacing: 4%;
}
.chef_page--img {
  position: absolute;
  right: 20%;
  bottom: -8%;
}/*# sourceMappingURL=style.css.map */