@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0C0B08;
}

main {
    background-image: url(./img/wave\ element.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@import "./component/header";
@import "./component/main";