.about {
    padding-top: 35px;

    &_content {
        background-image: url(./img/Group1.png);
        background-repeat: no-repeat;
        background-size: cover;

        &--page {
            display: flex;
            padding-top: 120px;
            max-width: 1300px;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            align-items: center;
            padding-bottom: 136px;


            &--left {
                display: flex;
                flex-direction: column;
                align-items: flex-end;


                &--title {
                    font-family: Cormorant Upright;
                    font-weight: 600;
                    font-size: 64px;
                    color: #DCCA87;
                    line-height: 130%;
                    letter-spacing: 3%;
                    margin-bottom: 8px;
                    text-align: right;
                    text-transform: capitalize;
                }

                &--text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    color: #AAAAAA;
                    max-width: 523px;
                    line-height: 175%;
                    letter-spacing: 4%;
                    text-align: right;
                    max-width: 523px;
                    margin: 32px 0;
                }

                &--img {
                    rotate: 180deg;
                }

                &--btn {
                    border: none;
                    background: #DCCA87;
                    font-family: Cormorant Upright;
                    font-weight: 700;
                    font-size: 16px;
                    padding: 8px 30px;
                    line-height: 175%;
                    letter-spacing: 4%;
                }
            }

            &--right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &--title {
                    font-family: Cormorant Upright;
                    font-weight: 600;
                    font-size: 64px;
                    color: #DCCA87;
                    line-height: 130%;
                    letter-spacing: 3%;
                    margin-bottom: 8px;
                    text-align: right;
                    text-transform: capitalize;
                }

                &--text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    color: #AAAAAA;
                    max-width: 523px;
                    line-height: 175%;
                    letter-spacing: 4%;
                    text-align: right;
                    margin: 32px 0;
                    max-width: 523px;
                }
            }
        }
    }
}

.book {
    padding-top: 157px;
    padding-bottom: 152px;
    position: relative;

    &_img {
        position: absolute;
        right: 14%;
        bottom: 83%;
    }

    &_page {
        max-width: 1367px;
        margin: 0 auto;
        width: 100%;
        background: #0C0C0C;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #DCCA8733;
        box-shadow: 22px 30px 95px 1px #000000B2;

        &--form {
            max-width: 1300px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 64px;

            &--label {
                border: 1px solid #F5EFDB;


                &--select {
                    font-family: Cormorant Upright;
                    font-weight: 600;
                    font-size: 16px;
                    color: #AAAAAA;
                    line-height: 175%;
                    letter-spacing: 4%;
                    text-align: center;
                    text-transform: capitalize;
                    background-color: black;
                    border: none;
                    padding: 16px 0;
                    padding-left: 16px;
                    margin-right: 12px;
                    padding-right: 284px;
                }

            }
        }

        &--title {
            font-family: Cormorant Upright;
            font-weight: 600;
            font-size: 64px;
            color: #DCCA87;
            line-height: 130%;
            letter-spacing: 3%;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 64px;
            margin-top: 8px;
        }

        &--subtitle {
            font-family: Cormorant Upright;
            font-weight: 700;
            font-size: 23px;
            color: #fff;
            line-height: 130%;
            letter-spacing: 4%;
            text-transform: capitalize;
            padding-top: 48px;
            padding-bottom: 8px;
        }

        &--btn {
            font-family: Cormorant Upright;
            font-weight: 700;
            font-size: 16px;
            background: #DCCA87;
            border: 1px solid #DCCA87;
            padding: 7px 30px;
            line-height: 175%;
            margin-bottom: 48px;
            letter-spacing: 4%;
        }
    }
}

.menu {
    background-image: url(./img/menu-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &_img {
        position: absolute;
        right: 88%;
    }

    &_page {
        padding-top: 293px;
        padding-bottom: 262px;
        max-width: 1680px;
        row-gap: 64px;
        display: grid;
        margin: 0 auto;

        &--title {
            font-family: Cormorant Upright;
            font-weight: 600;
            font-size: 64px;
            color: #fff;
            line-height: 130%;
            letter-spacing: 3%;
            text-transform: capitalize;
            text-decoration-style: solid;
            text-decoration-thickness: 1px;


            &:hover {
                text-decoration: underline;
                text-underline-offset: 4px;

            }
        }
    }
}

.special {
    padding-top: 152px;
    display: flex;
    padding-bottom: 152px;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
    margin: 0 auto;

    &_btn {
        font-family: Cormorant Upright;
        font-weight: 700;
        font-size: 16px;
        padding: 8px 32px;
        background: #DCCA87;
        line-height: 175%;
        letter-spacing: 4%;
    }

    &_subtitle {
        font-family: Cormorant Upright;
        font-weight: 700;
        margin-bottom: 8px;
        font-size: 23px;
        color: #fff;
        line-height: 130%;
        letter-spacing: 4%;
        text-transform: capitalize;
    }

    &_title {
        font-family: Cormorant Upright;
        font-weight: 600;
        font-size: 64px;
        color: #DCCA87;
        line-height: 130%;
        letter-spacing: 4%;
        text-align: center;
        text-transform: capitalize;
        margin-top: 8px;
        padding-bottom: 64px;
    }

    &_page {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        width: 100%;


        &--content {
            gap: 40px;
            display: grid;

            &--div {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                max-width: 412px;
                width: 100%;
                justify-content: space-between;


                &--container {
                    display: flex;
                    padding-bottom: 8px;
                    align-items: center;

                    &--line {
                        height: 1px;
                        width: 119px;
                        background-color: #fff;
                    }

                    &--title {
                        font-family: Cormorant Upright;
                        font-weight: 700;
                        font-size: 23px;
                        color: #DCCA87;
                        line-height: 130%;
                        letter-spacing: 4%;
                        text-transform: capitalize;
                        margin-right: 32px;
                        width: 192px;
                        padding-bottom: 8px;
                    }

                    &--text {
                        font-family: Cormorant Upright;
                        font-weight: 700;
                        font-size: 23px;
                        color: #fff;
                        line-height: 130%;
                        letter-spacing: 4%;
                        text-align: center;
                        margin-left: 32px;
                        text-transform: capitalize;
                    }
                }

                &--text {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 16px;
                    color: #AAAAAA;
                    line-height: 175%;
                    letter-spacing: 4%;
                    text-align: center;
                }
            }

            &--title {
                font-family: Cormorant Upright;
                font-weight: 600;
                font-size: 45px;
                line-height: 130%;
                letter-spacing: 4%;
                text-align: center;
                text-transform: capitalize;
                color: #fff;
            }
        }
    }
}

.chef {
    background-image: url(./img/chef-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &_page {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 128px 0;

        &--content {

            &--subtitle {
                font-family: Cormorant Upright;
                font-weight: 700;
                font-size: 23px;
                color: #fff;
                line-height: 130%;
                letter-spacing: 4%;
                text-transform: capitalize;
            }

            &--title {
                font-family: Cormorant Upright;
                font-weight: 600;
                font-size: 64px;
                color: #DCCA87;
                line-height: 130%;
                letter-spacing: 3%;
                text-transform: capitalize;

            }


            &--text {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 16px;
                color: #AAAAAA;
                line-height: 175%;
                max-width: 570px;
                margin-top: 64px;
                margin-bottom: 64px;
                letter-spacing: 4%;
            }

            &--name {
                font-family: Cormorant Upright;
                font-weight: 400;
                font-size: 32px;
                color: #DCCA87;
                line-height: 130%;
                color: #DCCA87;
                margin-bottom: 8px;
                letter-spacing: 4%;
                text-transform: capitalize;
            }

            &--profesion {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 16px;
                color: #AAAAAA;
                margin-bottom: 64px;
                line-height: 175%;
                letter-spacing: 4%;
            }
        }

        &--img {
            position: absolute;
            right: 20%;
            bottom: -8%;
        }
    }
}